body {
  // --mainColor:#FFFFFF;
  --bodyBgColor: #130040;
  --secondTextColor: var(--bodyBgColor);
  --mainColor: #623cbf;
  --btnColor: var(--mainColor);
  // background: var(--bodyBgColor);

  color: #fff;
  --secondBoxBg: #f6f3fc;
  --thirdBoxBg: #fff;
  --colorUp: #1ee186;
  --colorDown: #ff6565;
  --colorUp2: #3db89a;
  --colorDown2: #ce4040;
  --greenTextColor: #1ce89f;
  .pageContainer {
    background: var(--bodyBgColor);
  }
}
.greenText {
  color: var(--greenTextColor);
}
.mainTextColor {
  color: var(--mainColor);
}
.colorSecond {
  color: var(--secondTextColor);
}
.colorUp {
  color: var(--colorUp);
}
.colorDown {
  color: var(--colorDown);
}
.colorUp2 {
  color: var(--colorUp2);
}
.colorDown2 {
  color: var(--colorDown2);
}
.colorC {
  color: #757575;
}

.color999{
  color: #999;
}
.colorfff{
  color: #fff;
}
.color000{
  color: #000;
}
.pageBoxEl {
  background: var(--secondBoxBg);
  .boxContentEl {
    background: var(--thirdBoxBg);
    color: #000;
  }
  border-radius: 15px;
  padding: 10px;
  .c_title {
    color: #130040;
    font-size: 18px;
  }
}

.pageComContainer {
  padding: 12px 16px;
}
.nullData {
  background: url("~/assets/images/01/img/nullData.png") no-repeat;
  background-size: 100px 100px;
  height: 100px;
  background-position: center;
}
.fixedBotBtn {
  background: #0d081a;
  // height: 50px;
  padding: 15px 0 20px 0;
  .gridBox2 {
    place-items: center;
  }
  div {
    width: 90%;
    height: 40px;
    line-height: 40px;
    text-align: center;
    border-radius: 10px;
    cursor: pointer;
  }
  .buyBtn {
    background: #3db89a;
    color: #fff;
  }
  .sellBtn {
    background: #ce4040;
    color: #fff;
  }
}
.recordPage {
  .recordItemEl {
    .between div:nth-child(1) {
      color: #666;
    }
  }
  .recordItem {
    background: #fff;
    padding: 10px;
    border-radius: 8px;
    font-size: 14px;
    color: #130040;
  }
  .colorUp {
    color: var(--colorUp2);
  }
  .colorDown {
    color: var(--colorDown2);
  }
}
.van-skeleton {
  padding: 0 !important;
  display: flex;
  flex-direction: column;
}
.contentBtn {
  background: var(--mainColor);
  text-align: center;
  cursor: pointer;
}
.cancelBtn {
  background: #cad0db;
  color: #fff;
  text-align: center;
  border-radius: 50px;
  transition: 0.3s linear all;
}
.cancelBtn {
  background: #666;
}
.popComEl {
  .van-popup {
    background: none !important;
    width: 100vw;

    .popContentBox {
      max-width: var(--pageWidth);
      background: #fff;
      margin: 0 auto;
      border-radius: 20px 20px 0 0;
    }
  }
}
.inpBoxEl {
  height: 50px;
  line-height: 48px;
  border-radius: 10px;
  border: 1px solid #11473f;
  box-sizing: border-box;
  padding: 0 10px;
  input {
    width: 100%;
    height: 100%;
    line-height: 100%;
  }
  .leftBox {
    flex: 1;
    white-space: nowrap;
    overflow: scroll;
  }
}
